
/**************************************************
            UTILITIES
**************************************************/
.container {
    max-width: 80%;
     margin:  auto; 
    padding: 0 16px;
    
  }

  .text-center {
    text-align: center;
  }

  .btn {
    padding: 10px 50px;
    background-color: #4444f7;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.btn2 {
  padding: 6px 40px;
  background-color: #4444f7;
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
 