
/**************************************************
            UTILITIES
**************************************************/
.container {
    max-width: 80%;
    margin: 5px auto;
    padding: 0 16px;
  }
 